@font-face {
  font-family: 'product-sans-regular';
  font-style: normal;
  src: url("../assets/fonts/Product Sans Regular.ttf"); }

html, body {
  background-color: #3A3A3A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  font-family: 'product-sans-regular' !important;
  line-height: unset !important; }

body ::-webkit-scrollbar-thumb {
  background-color: #6495ed; }

.round-image {
  width: 3vw;
  height: 3vw;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
  border-radius: 50%; }

#total-form-div {
  background-color: #fff;
  width: 76vw;
  height: 80vh;
  margin: auto; }
  #total-form-div .col .row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0; }
  #total-form-div #static-form-area {
    background-color: #fff;
    height: inherit;
    position: absolute;
    width: 23.9%;
    float: left; }
    #total-form-div #static-form-area #brand-name-icon-area {
      margin-top: 5.1vh;
      margin-bottom: 8.6vh;
      font-size: 2.86vw;
      height: auto; }
      #total-form-div #static-form-area #brand-name-icon-area #dentobit-icon {
        width: 5vw;
        margin-top: 0;
        margin-right: .4vw;
        vertical-align: middle; }
      #total-form-div #static-form-area #brand-name-icon-area #dento {
        color: rgba(86, 128, 213, 0.81); }
      #total-form-div #static-form-area #brand-name-icon-area #bit {
        color: #40b97d; }
    #total-form-div #static-form-area #survey-conductor-intro {
      padding-left: 1.6vw; }
      #total-form-div #static-form-area #survey-conductor-intro #starter-intro {
        display: block;
        font-size: 1.25vw;
        color: #787878;
        margin-bottom: 2.3vh; }
      #total-form-div #static-form-area #survey-conductor-intro #survey-conductor-pic {
        width: 6.56vw;
        height: 6.56vw;
        float: left;
        -webkit-box-shadow: 0px 14px 21px rgba(0, 0, 0, 0.16);
        box-shadow: 0px 14px 21px rgba(0, 0, 0, 0.16); }
      #total-form-div #static-form-area #survey-conductor-intro #serveyer-name-designation {
        display: block;
        float: left;
        margin-left: 1.14vw;
        padding-top: 1.2vh; }
        #total-form-div #static-form-area #survey-conductor-intro #serveyer-name-designation #serveyer-name {
          font-size: 1.8vw;
          color: #3e3e3e; }
        #total-form-div #static-form-area #survey-conductor-intro #serveyer-name-designation #serveyer-designation {
          font-size: 1.14vw;
          color: rgba(62, 62, 62, 0.63); }
    #total-form-div #static-form-area #listed-doctors {
      padding-left: 1.6vw;
      position: absolute;
      bottom: 1.5vh;
      margin: 0; }
      #total-form-div #static-form-area #listed-doctors img {
        margin-right: 1.04vw;
        float: left;
        height: 3.28vw;
        width: 3.28vw; }
      #total-form-div #static-form-area #listed-doctors #doctors-name {
        font-size: 1.25vw;
        color: #3d3d3d;
        display: block;
        margin-top: 1.3vh;
        width: 90%; }
      #total-form-div #static-form-area #listed-doctors #extention-text {
        font-size: 1.04vw;
        color: #707070;
        display: block;
        margin-top: 1vh;
        width: 90%; }
      #total-form-div #static-form-area #listed-doctors .btn {
        text-transform: capitalize;
        border-radius: 5px;
        background-color: #40b97d;
        -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        line-height: unset;
        height: unset;
        padding: .9vh 1vw; }
      #total-form-div #static-form-area #listed-doctors .btn:hover {
        color: #fff; }
      #total-form-div #static-form-area #listed-doctors #back-list-btn {
        display: none;
        width: 6.1vw; }
  #total-form-div #dynamic-form-area {
    background-color: rgba(86, 128, 213, 0.81);
    width: 68.6%;
    height: inherit;
    float: right; }
    #total-form-div #dynamic-form-area #dr-list-body {
      display: none;
      width: auto;
      height: 66vh;
      background-color: #fff;
      border-radius: 10px;
      margin-top: 7vh;
      margin-left: 3.54vw;
      margin-right: 3.54vw;
      overflow-x: hidden;
      overflow-y: scroll; }
      #total-form-div #dynamic-form-area #dr-list-body .slot-title {
        font-size: 1.6vw;
        margin: 3vh 0 1vh 3vw;
        font-weight: 700;
        color: #3e3e3e;
        letter-spacing: .1vw; }
      #total-form-div #dynamic-form-area #dr-list-body .slot-title ~ .slot-title {
        margin-top: 8vh; }
      #total-form-div #dynamic-form-area #dr-list-body .slot {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 13vh;
        border-bottom: solid 2px rgba(112, 112, 112, 0.1); }
        #total-form-div #dynamic-form-area #dr-list-body .slot .info-holder {
          margin: auto;
          height: 7vh;
          width: 100%;
          background-color: #fff; }
          #total-form-div #dynamic-form-area #dr-list-body .slot .info-holder .serial {
            color: #3E3E3E;
            font-size: 1.2vw;
            display: inline-block;
            width: 12%;
            height: inherit;
            vertical-align: top;
            margin-left: 1vw; }
            #total-form-div #dynamic-form-area #dr-list-body .slot .info-holder .serial span {
              line-height: 7vh;
              display: block;
              width: 100%;
              text-align: center; }
          #total-form-div #dynamic-form-area #dr-list-body .slot .info-holder img {
            height: 7vh;
            width: 7vh;
            -webkit-box-shadow: 0px 14px 21px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 14px 21px rgba(0, 0, 0, 0.16); }
          #total-form-div #dynamic-form-area #dr-list-body .slot .info-holder .name-desig {
            width: 70%;
            color: #3E3E3E;
            display: inline-block;
            width: 70%;
            height: inherit;
            vertical-align: top;
            margin-left: 2vw; }
            #total-form-div #dynamic-form-area #dr-list-body .slot .info-holder .name-desig .dr-name {
              font-size: 1vw;
              display: block;
              letter-spacing: .05vw;
              margin-top: 1vh; }
            #total-form-div #dynamic-form-area #dr-list-body .slot .info-holder .name-desig .dr-desig {
              display: block;
              letter-spacing: .05vw;
              margin-top: .4vh; }
    #total-form-div #dynamic-form-area form {
      height: inherit; }
      #total-form-div #dynamic-form-area form .prev {
        position: absolute;
        bottom: 3.33vh;
        left: 3.54vw;
        text-transform: capitalize;
        border-radius: 5px;
        background-color: #fff;
        color: #7a7a7a;
        -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        font-size: 1.35vw;
        line-height: 1.4vw;
        height: unset;
        padding: 1.02vh 1.14vw;
        font-family: 'product-sans-regular' !important; }
        #total-form-div #dynamic-form-area form .prev i {
          font-size: .9vw;
          margin: 0;
          margin-right: .6vw;
          width: unset;
          height: unset;
          line-height: unset; }
      #total-form-div #dynamic-form-area form .next {
        position: absolute;
        bottom: 3.33vh;
        right: 3.54vw;
        text-transform: capitalize;
        border-radius: 5px;
        background-color: #fff;
        color: #7a7a7a;
        -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
        font-size: 1.35vw;
        line-height: 1.4vw;
        height: unset;
        padding: 1.02vh 1.14vw;
        font-family: 'product-sans-regular' !important; }
        #total-form-div #dynamic-form-area form .next i {
          font-size: .9vw;
          margin: 0;
          margin-left: .6vw;
          width: unset;
          height: unset;
          line-height: unset; }
    #total-form-div #dynamic-form-area .form-stepper {
      width: 100%;
      height: inherit; }
      #total-form-div #dynamic-form-area .form-stepper .slick-list {
        height: inherit; }
      #total-form-div #dynamic-form-area .form-stepper .step .title {
        display: inline-block;
        font-size: 3.12vw;
        margin-top: 4.53vh;
        margin-left: 3.54vw;
        font-family: 'product-sans-regular' !important; }
      #total-form-div #dynamic-form-area .form-stepper .step .step-counter {
        display: inline-block;
        font-size: 1.35vw;
        color: #fff;
        float: right;
        margin-top: 6.48vh;
        margin-right: 3.54vw; }
      #total-form-div #dynamic-form-area .form-stepper .step ul.tabs {
        width: auto;
        margin: 0;
        padding-left: 3.54vw;
        list-style: none;
        overflow: hidden;
        margin-top: 1.9vh;
        margin-bottom: -1vh; }
      #total-form-div #dynamic-form-area .form-stepper .step ul.tabs li {
        float: left;
        width: 12.34vw; }
      #total-form-div #dynamic-form-area .form-stepper .step ul.tabs li a {
        position: relative;
        display: block;
        margin-top: 2vh;
        padding: .5vh 0 1.5vh 0;
        font-size: 1.2vw;
        text-align: center;
        text-decoration: none;
        color: rgba(191, 191, 191, 0.87);
        background: #fff;
        -webkit-box-shadow: 2px 3px 33px rgba(0, 0, 0, 0.16);
        box-shadow: 2px 3px 33px rgba(0, 0, 0, 0.16);
        border-top-right-radius: 8px;
        border: 0px solid #000000;
        -webkit-transition: padding 0.2s ease, margin 0.2s ease;
        -o-transition: padding 0.2s ease, margin 0.2s ease;
        transition: padding 0.2s ease, margin 0.2s ease; }
        #total-form-div #dynamic-form-area .form-stepper .step ul.tabs li a span {
          float: right;
          margin-right: 1vw;
          height: 1.3vw;
          width: 1.3vw;
          color: #fff;
          border-radius: 50%;
          background-color: #dc4e41;
          opacity: .5;
          font-size: .9vw;
          padding-top: .1vw; }
      #total-form-div #dynamic-form-area .form-stepper .step .tabs li:first-child a {
        z-index: 3;
        border-top-left-radius: 8px; }
      #total-form-div #dynamic-form-area .form-stepper .step .tabs li:nth-child(2) a {
        z-index: 2;
        margin-left: -1vw; }
      #total-form-div #dynamic-form-area .form-stepper .step .tabs li:nth-child(3) a {
        margin-left: -1vw; }
      #total-form-div #dynamic-form-area .form-stepper .step .tabs li:last-child a {
        z-index: 1;
        -webkit-box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3);
        box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3);
        border-top-right-radius: 8px; }
      #total-form-div #dynamic-form-area .form-stepper .step ul.tabs li a.active {
        margin-top: 1.2vh;
        padding: .8vh 0 2.5vh 0;
        background: #fff;
        color: #7a7a7a;
        z-index: 4;
        outline: none;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px; }
        #total-form-div #dynamic-form-area .form-stepper .step ul.tabs li a.active span {
          opacity: 1; }
      #total-form-div #dynamic-form-area .form-stepper .step .group:before,
      #total-form-div #dynamic-form-area .form-stepper .step .group:after {
        content: " ";
        /* 1 */
        display: table;
        /* 2 */ }
      #total-form-div #dynamic-form-area .form-stepper .step .group:after {
        clear: both; }
      #total-form-div #dynamic-form-area .form-stepper .step #content, #total-form-div #dynamic-form-area .form-stepper .step #work-content {
        margin-top: 0;
        height: 47.96vh;
        border-top-left-radius: 0;
        position: relative;
        z-index: 4; }
        #total-form-div #dynamic-form-area .form-stepper .step #content .form, #total-form-div #dynamic-form-area .form-stepper .step #work-content .form {
          margin-top: 2vh; }
        #total-form-div #dynamic-form-area .form-stepper .step #content #two .form, #total-form-div #dynamic-form-area .form-stepper .step #work-content #two .form {
          margin-top: 3.5vh; }
        #total-form-div #dynamic-form-area .form-stepper .step #content #three .form, #total-form-div #dynamic-form-area .form-stepper .step #work-content #three .form {
          margin-top: 4vh; }
        #total-form-div #dynamic-form-area .form-stepper .step #content #three textarea, #total-form-div #dynamic-form-area .form-stepper .step #work-content #three textarea {
          height: 30vh !important;
          resize: none;
          margin-top: 2vh !important; }
        #total-form-div #dynamic-form-area .form-stepper .step #content .first, #total-form-div #dynamic-form-area .form-stepper .step #work-content .first {
          margin-top: 3.5vh; }
        #total-form-div #dynamic-form-area .form-stepper .step #content .add-more-btn, #total-form-div #dynamic-form-area .form-stepper .step #work-content .add-more-btn {
          position: absolute;
          z-index: 6;
          right: 2vw;
          font-size: 1.04vw;
          text-transform: capitalize;
          top: 1.5vh;
          border-radius: 15px;
          background-color: #7598DD;
          color: #fff;
          -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          line-height: 1.1vw;
          letter-spacing: .07vw;
          height: unset;
          padding: 1vh .8vw;
          font-family: 'product-sans-regular' !important; }
        #total-form-div #dynamic-form-area .form-stepper .step #content #hospital-pic-container, #total-form-div #dynamic-form-area .form-stepper .step #work-content #hospital-pic-container {
          display: inline-block;
          width: 4.17vw;
          height: auto;
          position: relative;
          border-radius: 8px;
          overflow: hidden;
          margin-top: 3vh;
          margin-left: 2vw; }
          #total-form-div #dynamic-form-area .form-stepper .step #content #hospital-pic-container input, #total-form-div #dynamic-form-area .form-stepper .step #work-content #hospital-pic-container input {
            display: none; }
          #total-form-div #dynamic-form-area .form-stepper .step #content #hospital-pic-container img, #total-form-div #dynamic-form-area .form-stepper .step #work-content #hospital-pic-container img {
            -o-object-fit: cover;
            object-fit: cover;
            width: 100%;
            height: 4.17vw;
            -webkit-transition: .5s ease;
            -o-transition: .5s ease;
            transition: .5s ease; }
          #total-form-div #dynamic-form-area .form-stepper .step #content #hospital-pic-container #overlay-div, #total-form-div #dynamic-form-area .form-stepper .step #work-content #hospital-pic-container #overlay-div {
            position: absolute;
            height: 100%;
            width: 100%;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
            opacity: 0;
            background-color: #252525;
            -webkit-transition: .5s ease;
            -o-transition: .5s ease;
            transition: .5s ease;
            text-align: center;
            cursor: pointer; }
        #total-form-div #dynamic-form-area .form-stepper .step #content #hospital-pic-container:hover img, #total-form-div #dynamic-form-area .form-stepper .step #work-content #hospital-pic-container:hover img {
          opacity: 0.3; }
        #total-form-div #dynamic-form-area .form-stepper .step #content #hospital-pic-container:hover #overlay-div, #total-form-div #dynamic-form-area .form-stepper .step #work-content #hospital-pic-container:hover #overlay-div {
          opacity: .7; }
      #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder {
        width: auto;
        height: 52.22vh;
        background-color: #fff;
        border-radius: 10px;
        margin-top: 3.98vh;
        margin-left: 3.54vw;
        margin-right: 3.54vw; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .social-platform-section {
          margin-bottom: 3.7vh; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #sign-up-other-platform {
          display: inline-block;
          width: 100%;
          font-size: 1.61vw;
          color: #3e3e3e;
          letter-spacing: .1vw;
          padding-left: 1.93vw;
          margin-top: 3.15vh;
          margin-bottom: 0;
          padding-bottom: 2.77vh;
          border-bottom: solid 0.7px rgba(112, 112, 112, 0.23); }
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #sign-up-other-platform .btn {
            font-size: 1.35vw;
            vertical-align: middle;
            font-family: 'product-sans-regular' !important;
            text-transform: capitalize;
            border-radius: 8px;
            -webkit-box-shadow: none;
            box-shadow: none;
            line-height: 1.4vw;
            height: unset;
            padding: 1.8vh 1.67vw;
            letter-spacing: 0.08vw; }
            #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #sign-up-other-platform .btn i {
              font-size: 2vw;
              margin: 0;
              margin-right: 1.61vw;
              width: unset;
              height: unset;
              line-height: unset; }
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #sign-up-other-platform .facebook {
            background-color: #475993; }
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #sign-up-other-platform .google {
            background-color: #dc4e41; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #pro-pic-gender-container {
          padding-right: 0; }
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #pro-pic-gender-container center {
            float: right; }
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #pro-pic-gender-container #pro-pic-container {
            width: 9.27vw;
            height: auto;
            position: relative;
            border-radius: 8px;
            overflow: hidden; }
            #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #pro-pic-gender-container #pro-pic-container input {
              display: none; }
            #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #pro-pic-gender-container #pro-pic-container img {
              -o-object-fit: cover;
              object-fit: cover;
              width: 100%;
              height: 19vh;
              -webkit-transition: .5s ease;
              -o-transition: .5s ease;
              transition: .5s ease; }
            #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #pro-pic-gender-container #pro-pic-container #overlay-div {
              position: absolute;
              height: 100%;
              width: 100%;
              bottom: 0;
              top: 0;
              left: 0;
              right: 0;
              opacity: 0;
              background-color: #252525;
              -webkit-transition: .5s ease;
              -o-transition: .5s ease;
              transition: .5s ease;
              text-align: center;
              cursor: pointer; }
              #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #pro-pic-gender-container #pro-pic-container #overlay-div i {
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                margin-right: 0;
                font-size: 2vw;
                color: #fff; }
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #pro-pic-gender-container #pro-pic-container:hover img {
            opacity: 0.3; }
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #pro-pic-gender-container #pro-pic-container:hover #overlay-div {
            opacity: .7; }
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #pro-pic-gender-container .error-message {
            color: #dc4e41;
            font-weight: bold;
            font-size: .8vw;
            margin-top: 1vh; }
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #pro-pic-gender-container #male-female-btn {
            position: relative;
            width: 9.27vw;
            height: auto;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            margin-top: 2.78vh; }
            #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #pro-pic-gender-container #male-female-btn input {
              opacity: 0;
              cursor: pointer;
              position: absolute; }
            #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #pro-pic-gender-container #male-female-btn .custom-radio {
              width: 50%;
              padding-top: .92vh;
              padding-bottom: .92vh;
              background-color: #fff;
              position: absolute;
              font-size: 1.09vw;
              letter-spacing: .07vw;
              color: #3e3e3e;
              cursor: pointer; }
            #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #pro-pic-gender-container #male-female-btn .custom-radio:hover {
              background-color: #f2f2f2;
              -webkit-transition: .4s ease;
              -o-transition: .4s ease;
              transition: .4s ease; }
            #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #pro-pic-gender-container #male-female-btn .male {
              left: 0;
              border-top-left-radius: 8px;
              border-bottom-left-radius: 8px;
              -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
              box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); }
            #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #pro-pic-gender-container #male-female-btn .female {
              right: 0;
              border-top-right-radius: 8px;
              border-bottom-right-radius: 8px;
              -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
              box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
              background-color: #fff; }
            #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #pro-pic-gender-container #male-female-btn input:checked ~ .custom-radio {
              background-color: #7598DD;
              color: #fff;
              z-index: 10; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #personal-info-container {
          padding-left: 2.03vw;
          font-family: 'product-sans-regular' !important; }
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #personal-info-container input::-webkit-input-placeholder {
            color: #dc4e41 !important;
            font-weight: bold !important;
            font-size: 1vw; }
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #personal-info-container input:-ms-input-placeholder {
            color: #dc4e41 !important;
            font-weight: bold !important;
            font-size: 1vw; }
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #personal-info-container input::-ms-input-placeholder {
            color: #dc4e41 !important;
            font-weight: bold !important;
            font-size: 1vw; }
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #personal-info-container input::placeholder {
            color: #dc4e41 !important;
            font-weight: bold !important;
            font-size: 1vw; }
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #personal-info-container .ui.label {
            background-color: #ebebeb;
            border: none;
            border-radius: 12px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            width: 5vw;
            padding-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            font-size: 1.2vw;
            color: #343434;
            letter-spacing: 0.08vw;
            font-weight: normal;
            line-height: 5.09vh;
            height: 5.09vh; }
            #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #personal-info-container .ui.label i {
              margin: 0;
              float: right;
              vertical-align: middle;
              line-height: 5.09vh;
              height: 5.09vh; }
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #personal-info-container .ui.input, #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #personal-info-container .ui.form {
            margin-bottom: 2.6vh; }
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #personal-info-container .ui.input > input,
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #personal-info-container .field > input {
            border-radius: 12px;
            border: none;
            background-color: #ebebeb;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            font-size: .9vw;
            color: #7a7a7a;
            letter-spacing: 0.08vw;
            line-height: 5.09vh;
            height: 5.09vh;
            width: 24.12vw;
            padding: 0 .94vw; }
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #personal-info-container .ui.input.focus > input,
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #personal-info-container .ui.input > input:focus,
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #personal-info-container .field.focus > input,
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #personal-info-container .field > input:focus {
            border-radius: 12px;
            border: none;
            background-color: #ebebeb;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px; }
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #personal-info-container .field > input {
            width: 29.12vw;
            border-radius: 12px; }
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #personal-info-container .field.focus > input,
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #personal-info-container .field > input:focus {
            border-radius: 12px; }
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #personal-info-container .field {
            margin: 0; }
            #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder #personal-info-container .field label {
              margin: .8vh 0.2vw;
              margin-top: 0;
              font-size: 1.2vw;
              color: #343434;
              letter-spacing: 0.08vw;
              font-weight: normal; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .row {
          width: 95% !important;
          margin-bottom: 0; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .ui.selection.dropdown {
          min-width: unset;
          min-height: unset; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .ui.dropdown .menu {
          border: none !important;
          border-radius: 12px !important;
          background-color: #373637; }
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .ui.dropdown .menu .item {
            border: none;
            color: #fff; }
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .ui.dropdown .menu .item:hover {
            background-color: #636363; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .ms-parent {
          width: 100% !important; }
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .ms-parent .placeholder {
            font-family: "product-sans-regular"; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .ms-drop {
          border: none !important;
          border-radius: 12px !important;
          position: absolute;
          margin-top: 1px;
          background-color: #373637;
          -webkit-box-shadow: 0px 2px 3px 0px rgba(34, 36, 38, 0.15);
          box-shadow: 0px 2px 3px 0px rgba(34, 36, 38, 0.15); }
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .ms-drop ul li {
            display: inline-block;
            border-radius: 8px !important; }
            #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .ms-drop ul li label {
              padding: 1vh 0.2vw;
              margin: 0;
              color: #fff; }
              #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .ms-drop ul li label input[type=checkbox] {
                line-height: unset;
                height: unset;
                margin: 5px;
                margin-top: 0;
                vertical-align: middle; }
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .ms-drop ul li:hover {
            background-color: #636363; }
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .ms-drop ul .ms-select-all {
            display: block; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .degree-field li {
          width: 50%; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .ms-degree-field li {
          width: 100%; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .fcps-degree-field li {
          width: 100%; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .service-field-1-1 li {
          width: 100%; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .bmdc-field #bmdc-reg-no {
          border-top-right-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
          width: 2vw; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .bmdc-field .label {
          border-top-left-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
          border-top-right-radius: 12px !important;
          border-bottom-right-radius: 12px !important;
          line-height: unset;
          padding: 1.2vh 1vw;
          background-color: #ebebeb; }
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .bmdc-field .label .text {
            font-size: 1vw; }
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .bmdc-field .label i {
            margin-left: .4vw; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .bmdc-field .dropdown .item:hover {
          border-radius: 12px; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .service-field-1-2 li,
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .service-field-1-3 li,
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .service-field-1-4 li,
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .service-field-1-5 li,
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .service-field-1-6 li,
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .service-field-1-7 li,
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .service-field-1-8 li,
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .service-field-2-1 li,
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .service-field-2-2 li,
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .service-field-2-3 li,
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .service-field-2-4 li,
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .service-ifeld-2-5 li,
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .service-ifeld-2-6 li {
          width: 100%; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .form {
          margin-top: 2.8vh; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations input, #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations textarea,
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .ui.selection.dropdown,
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .ui.selection.active.dropdown,
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .ms-choice {
          font-family: 'product-sans-regular' !important;
          border-radius: 12px !important;
          border: none !important;
          background-color: #ebebeb;
          font-size: 1.2vw;
          color: #7a7a7a;
          letter-spacing: 0.08vw;
          line-height: 5.09vh;
          height: 5.09vh;
          padding: 0 .94vw;
          -webkit-box-shadow: none !important;
          box-shadow: none !important; }
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations input i, #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations textarea i,
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .ui.selection.dropdown i,
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .ui.selection.active.dropdown i,
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .ms-choice i {
            padding: 1.2vh .94vw;
            font-size: 1.2vw; }
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations input .default, #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations textarea .default,
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .ui.selection.dropdown .default,
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .ui.selection.active.dropdown .default,
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .ms-choice .default {
            color: #999; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations input::-webkit-input-placeholder {
          color: #dc4e41 !important;
          font-weight: bold !important;
          font-size: 1vw; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations input:-ms-input-placeholder {
          color: #dc4e41 !important;
          font-weight: bold !important;
          font-size: 1vw; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations input::-ms-input-placeholder {
          color: #dc4e41 !important;
          font-weight: bold !important;
          font-size: 1vw; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations input::placeholder {
          color: #dc4e41 !important;
          font-weight: bold !important;
          font-size: 1vw; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .workplace-addr-field input::-webkit-input-placeholder {
          color: #999 !important;
          font-weight: normal !important;
          font-size: 1.2vw; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .workplace-addr-field input:-ms-input-placeholder {
          color: #999 !important;
          font-weight: normal !important;
          font-size: 1.2vw; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .workplace-addr-field input::-ms-input-placeholder {
          color: #999 !important;
          font-weight: normal !important;
          font-size: 1.2vw; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .workplace-addr-field input::placeholder {
          color: #999 !important;
          font-weight: normal !important;
          font-size: 1.2vw; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .red-placeholder input::-webkit-input-placeholder {
          color: #dc4e41 !important;
          font-weight: bold !important;
          font-size: 1vw; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .red-placeholder input:-ms-input-placeholder {
          color: #dc4e41 !important;
          font-weight: bold !important;
          font-size: 1vw; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .red-placeholder input::-ms-input-placeholder {
          color: #dc4e41 !important;
          font-weight: bold !important;
          font-size: 1vw; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .red-placeholder input::placeholder {
          color: #dc4e41 !important;
          font-weight: bold !important;
          font-size: 1vw; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .ms-choice > span {
          left: unset;
          right: unset;
          padding-left: 0;
          width: inherit;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding-right: 3vw; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .ms-choice > div {
          display: none; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .ms-choice:focus {
          outline: none !important; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .ui.search.dropdown > .text {
          height: inherit;
          width: inherit;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding-right: 1vw; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations input:focus {
          border-radius: 12px;
          border: none;
          background-color: #ebebeb; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .ms-field i {
          position: absolute;
          z-index: 5;
          right: 1.2vw;
          top: 5vh;
          font-size: 1.2vw !important;
          color: #7a7a7a;
          width: auto;
          height: auto;
          margin: 0; }
        #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .field {
          margin: 0; }
          #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .field label {
            margin: 1vh 0.2vw;
            margin-top: 0;
            font-size: 1.2vw;
            color: #343434;
            letter-spacing: 0.08vw;
            font-weight: normal; }
            #total-form-div #dynamic-form-area .form-stepper .step .form-field-holder .common-informations .field label span {
              word-wrap: break-word;
              white-space: pre-line; }

.error {
  color: #dc4e41 !important;
  font-weight: bold;
  font-size: .9vw; }
